* {
  margin: 0;
  padding: 0;
  transition: color .1s, background-color .5s;
  color: inherit;
  text-decoration: inherit;
  box-sizing: border-box;
}

body {
  --primary-color: #4fc6ce;
  --accent-01: #dbdbdb;
  --accent-02: #98b1ba;
  --accent-03: #26333a;
  --accent-04: #1a2328;
    font-family: Calibri, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    /*   text-align: center; */
    background-color: var(--accent-04);
    color: var(--accent-01);
}

body.light {
  --primary-color: #4fc6ce;
  --accent-01: #112226;
  --accent-02: #1e5055;
  --accent-03: #F8F9FA;
  --accent-04: #d5f3f9;
}

.container {
  display: grid;
  gap: 8px;
  max-width: 1300px;
  padding: 50px;
  margin: 0 auto;
}


.box {
  background-color: var(--accent-03);
  border-radius: 25px;
}

.text-center {
  text-align: center;
}