// Modal

#popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  z-index: 99;
  display: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  z-index: 100;
  display: none;
  cursor: move;
}

#popup-header {
  font-weight: bold;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#popup-body {
  margin-top: 10px;
}

#close-btn {
  cursor: pointer;
}
